*{
	box-sizing: border-box;
}

html, body{
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	overflow: hidden;
	background: black;
}

#page-content.loading{
	background: black;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	#loading-text{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.p5Canvas{
	display: block;
	cursor: grab;

	&:active{
		cursor: grabbing;
	}
}